<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="SELECT_POSTS/report.js" type="text/javascript"></script>
<link href="SELECT_POSTS/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">SELECT_POSTS</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columns</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Grants</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencies</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Details</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Triggers</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">POST_ID</td>
<td class="currentcell">NUMBER(10)</td>
<td class="currentcell">No</td>
<td class="currentcell">null</td>
<td class="currentcell">1</td>
<td class="currentcell">null</td>
<td class="currentcell">YES</td>
<td class="currentcell">YES</td>
<td class="currentcell">YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>USER_ID</td>
<td>NUMBER(10)</td>
<td>No</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>NAME1</td>
<td>VARCHAR2(50)</td>
<td>No</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>TITLE</td>
<td>NVARCHAR2(1000)</td>
<td>Yes</td>
<td>null</td>
<td>4</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>TAG_TYPE_ID</td>
<td>NUMBER(10)</td>
<td>No</td>
<td>null</td>
<td>5</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>TAG_TYPE</td>
<td>VARCHAR2(50)</td>
<td>No</td>
<td>null</td>
<td>6</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 6)">
<td>BODY_CONTENT</td>
<td>NVARCHAR2(2000)</td>
<td>Yes</td>
<td>null</td>
<td>7</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 7)">
<td>CREATED_DATE</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>8</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 8)">
<td>LAST_EDITED_DATE</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>9</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 9)">
<td>CLOSED_DATE</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>10</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 10)">
<td>VIEW_COUNT</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>11</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 11)">
<td>COMMENTCOUNT</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>12</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 12)">
<td>FAVORITE_COUNT</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>13</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 13)">
<td>LATEST_USER_ID</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>14</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 14)">
<td>LATEST_USER_DISPLAY_NAME</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>15</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 15)">
<td>ACTIVITY</td>
<td>VARCHAR2(45)</td>
<td>Yes</td>
<td>null</td>
<td>16</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 2, 0)" class="currentrow">
<td class="currentcell">SIJO</td>
<td class="currentcell">PROC_VIEW_POST_SELECT</td>
<td class="currentcell">PROCEDURE</td>
<td class="currentcell">SIJO</td>
<td class="currentcell">SELECT_POSTS</td>
<td class="currentcell">VIEW</td>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>References</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
<div id="Child.0.0.2">
<div class="currentchildreport"><table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectRow(this, 3)" class="currentrow">
<td class="currentcell">SIJO</td>
<td class="currentcell">SELECT_POSTS</td>
<td class="currentcell">VIEW</td>
<td class="currentcell">SIJO</td>
<td class="currentcell">USERSDETAILS</td>
<td class="currentcell">TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>SIJO</td>
<td>SELECT_POSTS</td>
<td>VIEW</td>
<td>SIJO</td>
<td>SELECT_LAST_USERS</td>
<td>VIEW</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>SIJO</td>
<td>SELECT_POSTS</td>
<td>VIEW</td>
<td>SIJO</td>
<td>POSTS</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>SIJO</td>
<td>SELECT_POSTS</td>
<td>VIEW</td>
<td>SIJO</td>
<td>TAGTYPES</td>
<td>TABLE</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>16-APR-19</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>17-OCT-19</td>
</tr>
<tr>
<td>OWNER</td>
<td>SIJO</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>SELECT_POSTS</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>747</td>
</tr>
<tr>
<td>TEXT</td>
<td>SELECT&nbsp;P.Post_ID
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;P.USER_ID
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;U.NAME1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;TITLE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;TT.TAG_TYPE_ID
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;TT.TAG_TYPE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;P.BODY_CONTENT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;P.CREATED_DATE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;P.LAST_EDITED_DATE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;CLOSED_DATE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;NVL(VIEW_COUNT,0)&nbsp;VIEW_COUNT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;NVL(COMMENTCOUNT,0)&nbsp;COMMENTCOUNT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;NVL(FAVORITE_COUNT,0)&nbsp;FAVORITE_COUNT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;NVL(SLU.LATEST_USER_ID,P.USER_ID)&nbsp;LATEST_USER_ID
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;NVL(SLU.LATEST_USER_DISPLAY_NAME,U.DISPLAY_NAME)&nbsp;LATEST_USER_DISPLAY_NAME&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;((TO_DATE(SYSDATE,'dd-mon-rrrr')-P.CREATED_DATE)||'&nbsp;Days')&nbsp;ACTIVITY
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM&nbsp;POSTS&nbsp;P
JOIN&nbsp;SELECT_LAST_USERS&nbsp;SLU&nbsp;ON&nbsp;SLU.POST_ID=P.Post_ID
JOIN&nbsp;TAGTYPES&nbsp;TT&nbsp;ON&nbsp;TT.TAG_TYPE_ID=P.TAG_TYPE_ID
JOIN&nbsp;USERSDETAILS&nbsp;U&nbsp;ON&nbsp;U.USER_ID=P.USER_ID
ORDER&nbsp;BY&nbsp;P.LAST_EDITED_DATE,&nbsp;P.CREATED_DATE,&nbsp;P.Post_ID&nbsp;Desc</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>SELECT&nbsp;P.Post_ID
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;P.USER_ID
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;U.NAME1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;TITLE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;TT.TAG_TYPE_ID
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;TT.TAG_TYPE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;P.BODY_CONTENT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;P.CREATED_DATE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;P.LAST_EDITED_DATE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;CLOSED_DATE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;NVL(VIEW_COUNT,0)&nbsp;VIEW_COUNT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;NVL(COMMENTCOUNT,0)&nbsp;COMMENTCOUNT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;NVL(FAVORITE_COUNT,0)&nbsp;FAVORITE_COUNT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;NVL(SLU.LATEST_USER_ID,P.USER_ID)&nbsp;LATEST_USER_ID
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;NVL(SLU.LATEST_USER_DISPLAY_NAME,U.DISPLAY_NAME)&nbsp;LATEST_USER_DISPLAY_NAME&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;((TO_DATE(SYSDATE,'dd-mon-rrrr')-P.CREATED_DATE)||'&nbsp;Days')&nbsp;ACTIVITY
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM&nbsp;POSTS&nbsp;P
JOIN&nbsp;SELECT_LAST_USERS&nbsp;SLU&nbsp;ON&nbsp;SLU.POST_ID=P.Post_ID
JOIN&nbsp;TAGTYPES&nbsp;TT&nbsp;ON&nbsp;TT.TAG_TYPE_ID=P.TAG_TYPE_ID
JOIN&nbsp;USERSDETAILS&nbsp;U&nbsp;ON&nbsp;U.USER_ID=P.USER_ID
ORDER&nbsp;BY&nbsp;P.LAST_EDITED_DATE,&nbsp;P.CREATED_DATE,&nbsp;P.Post_ID&nbsp;Desc</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>1</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
</div>
</body>
</html>
