<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Time_Table.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="hostName" value="https://ciforum20190504014653.azurewebsites.net" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <sessionState timeout="40" />
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <!--<add name="myConnectionString" connectionString="Data Source=SP;Initial Catalog=Time_Table;User ID=sa;Password=1q2w3e" providerName="System.Data.SqlClient" />-->
    <add name="myConnectionString"
      
      connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=ciforum.oracleapexservices.com )(PORT=1521))(CONNECT_DATA=(SID=xe)));User Id=sh2orange31;Password=0adW84npsh"
      providerName="Oracle.ManagedDataAccess.Client"/>
    <!--<add name="myConnectionString" connectionString=  "Data Source=sql6002.site4now.net;Initial Catalog=DB_A2DABB_siarak; User ID=DB_A2DABB_siarak_admin;Password=!Q2w3e4r5t;" providerName="System.Data.SqlClient" />-->

    <!--connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost )(PORT=1521))(CONNECT_DATA=(SID=orcl)));User Id=sijo;Password=pwd4sijo"-->

  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IfirstWebService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4816/firstWebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IfirstWebService"
        contract="ServiceReference1.IfirstWebService" name="BasicHttpBinding_IfirstWebService"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Time_Table.Properties.Settings>
      <setting name="Time_Table_webServicePerson_firstWebService" serializeAs="String">
        <value>http://personsearchsiarak.azurewebsites.net/firstWebService.svc</value>
      </setting>
    </Time_Table.Properties.Settings>
  </applicationSettings>
</configuration>